<!DOCTYPE html>
<html>
<head>
    <meta charset = "UTF-8">
    <title>Lab13 Task1</title>
</head>
<body>
    <form>
        <input type="text" name="email" id="email">
        <label for="email">E-mail</label>
        <br>
        <br>
        <input type="text" name="login" id="login">
        <label for="login">Login</label>
        <br>
        <br>
        <input type="text" name="password" id="password">
        <label for="password">Password</label>
        <br>
        <br>
        <input type="text" name="conf_password" id="conf_password">
        <label for="conf_password">Confirm password</label>
        <br>
        <br>
        <input type="submit" value="Finish registration">
    </form>
<h3>{{ result }}</h3>
</body>
</html>

